$background-color: white !default;
$unavailable-background-color: #eee !default;
$adjacent-color: #999 !default;

$widget-margin: 1rem !default;

$widget-border-thickness: 1px !default;
$widget-border-color: #888 !default;
$widget-border-pattern: solid !default;

$selection-border-thickness: 2px !default;
$selection-hover-border-color: #3bf !default;
$selection-selected-border-color: #9d3 !default;
$selection-selected-unavailable-border-color: #d88 !default;
$selection-border-pattern: solid !default;
